.dub
docs.json
__dummy.html
*.o
*.obj
!/res/models/*.obj
__test__*__
dub.selections.json
/linuxjam
*.blend1
.savegame
bin/
/config.json
.pbstore
.tokenstore
*.dll
*.dll:Zone.Identifier
*.exe
res/maps/download_*